@import '../../App.scss';

.Cards{
    display: grid;
    grid-template: 32vw / 8vw 28vw 28vw 28vw 8vw;
    height: 32vw;
    margin-top: -22vw;
}

.Cards__Db {
    background: white;
    border-radius: 1vw;
    grid-area: 1/2/1/2;
    filter: drop-shadow(2px 4px 6px black);
    width: 80%;
    height: 60%;
    align-self: center;
    justify-self: center;
    padding: 1vw 2vw;
    overflow: scroll;
}

.Cards__Db-title{
    color: #8789F9;
    font-family: $font-Regular;
    text-align: center;
    font-size: 2vw;
}

.Cards__Db-text{
    color: #8277AF;
    font-family: $font-Regular;
    font-size: 0.9vw;
}

.Cards__Admin{
    background: white;
    border-radius: 1vw;
    grid-area: 1/3/1/3;
    filter: drop-shadow(2px 4px 6px black);
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
    padding: 1vw 2vw;
    overflow: scroll;
}

.Cards__Admin-title{
    color: #8789F9;
    font-family: $font-Regular;
    text-align: center;
    font-size: 2vw;
}

.Cards__Admin-text{
    color: #8277AF;
    font-family: $font-Regular;
    font-size: 1.2vw;
}
.Cards__Apps{
    background: white;
    border-radius: 1vw;
    grid-area: 1/4/1/4;
    filter: drop-shadow(2px 4px 6px black);
    width: 80%;
    height: 60%;
    align-self: center;
    justify-self: center;
    padding: 1vw 2vw;
    overflow: scroll;
}

.Cards__Apps-title{
    color: #8789F9;
    font-family: $font-Regular;
    text-align: center;
    font-size: 2vw;
}

.Cards__Apps-text{
    color: #8277AF;
    font-family: $font-Regular;
    font-size: 1.2vw;
}

@media only screen and (max-width: 1024px) and (min-width: 768px){

}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .Cards{
        display: grid;
        grid-template: 69vw / 3vw 32vw 32vw 32vw 3vw;
        height: 65vw;
    }
    .Cards__Db-title {
        font-size: 3vw;
    }
    .Cards__Db-text {
        font-size: 3vw;
    }
    .Cards__Admin-title {
        font-size: 3vw;
    }
    .Cards__Admin-text {
        font-size: 3vw;
    }
    .Cards__Apps-title {
        font-size: 3vw;
    }
    .Cards__Apps-text {
        font-size: 3vw;
    }

}