@import '../../App.scss';

.Mission{
    width: 100vw;
    height: 35.56vw;
    background: linear-gradient(340deg,#3d6af515 5.5%, #756df515 50%, #ba72f615 99.9%);
    display: grid;
    grid-template: auto 7vw 22vw auto / 16vw 34vw 34vw 16vw;
}

.Mission__title{
    color: #8789F9;
    font-family: $font-Regular;
    grid-area: 2/2/2/2;
    font-size: 2.2vw;
}

.Mission__text{
    color: #8277AF;
    font-family: $font-Regular;
    grid-area: 3/2/3/2;
    font-size: 1.2vw;
}

.Mission__Logo{
    grid-area: 2/4/5/3;
    width: 100%;
}