@import '../../App.scss';

.Values__title-flex{
    display: flex;
    padding: 0vw 16vw 0vw 16vw;
    justify-content: center;
    .Values__title-shadow{
        color: #D9A9FF;
        opacity: 0.3;
        font-size: 5.7vw;
        position: relative;
        margin: 5vw -2vw 0vw 0vw;
    }
    .Values__title-main{
        color: #1B1464;
        font-size: 4.1vw;
        z-index: 5;
        position: relative;
        margin: 8vw 0vw 1vw -18.8vw;
    }
}


.Values{
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100vw;
    height: 35.56vw;
    display: grid;
    grid-template: auto 2vw 13vw 10vw auto / auto 16vw 15vw 15vw auto;
    background: linear-gradient(340deg, #3d6af515 5.5%, #756df515 50%, #ba72f615 99.9%);
    column-gap: 10vw;
}

.Values_Discipline-title{
    color: #8789F9;
    grid-area: 2/2/2/2;
    margin: 0vw;
    font-family: $font-Regular;
    font-size: 2vw;
}

.Values_Discipline-text{
    color: #8277AF;
    grid-area: 3/2/3/2;
    font-family: $font-Regular;
    font-size: 1vw;
}

.Values_Discipline-img{
    grid-area: 4/2/4/2;
    justify-self: center;
    width: 50%;
}
.Values_Quality-img{
    grid-area: 4/3/4/3;
    justify-self: center;
    width: 50%;
}
.Values_Respect-img{
    grid-area: 4/4/4/4;
    justify-self: center;
    width: 50%;
}


.Values_Quality-title{
    color: #8789F9;
    grid-area: 2/3/2/3;
    margin: 0vw;
    font-family: $font-Regular;
    font-size: 2vw;
}

.Values_Quality-text{
    color: #8277AF;
    font-family: $font-Regular;
    grid-area: 3/3/3/3;
    font-size: 1vw;
}

.Values_Respect-title{
    color: #8789F9;
    grid-area: 3/4/2/4;
    margin: 0vw;
    font-family: $font-Regular;
    font-size: 2vw;
}

.Values_Respect-text{
    color: #8277AF;
    font-family: $font-Regular;
    grid-area: 3/4/3/4;
    font-size: 1vw;
}