@import '../../App.scss';

.Balls{
    display: grid;
    grid-template: 17vw / auto 17vw 17vw 17vw 17vw auto;
    margin-top: -12vw;
}

.Balls__security{
    grid-area: 1/2/1/3;
    margin: 0px;
    background: url('../../assets/img/Balls/ball.svg');
    filter: drop-shadow(2px 4px 23px #ac81a8);
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60% 40%/ 100%;
}
.Balls__security-icon{
    grid-area: 1/1/1/1;
    align-self: end;
    justify-self: center;
    width: 5vw;
}
.Balls__security-text{
    text-align: center;
    color: $color-cyan;
    font-family: $font-Bold;
    grid-area: 2/1/3/1;
    font-size: 1vw;
}
.Balls__results{
    grid-area: 1/3/1/4;
    margin: 0px;
    background: url('../../assets/img/Balls/ball.svg');
    filter: drop-shadow(2px 4px 23px #ac81a8);
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60% 40%/ 100%;
}
.Balls__results-icon{
    grid-area: 1/1/1/1;
    align-self: end;
    justify-self: center;
    width: 6vw;
}
.Balls__results-text{
    text-align: center;
    color: $color-cyan;
    font-family: $font-Bold;
    grid-area: 2/1/3/1;
    font-size: 1vw;
}
.Balls__attention{
    grid-area: 1/4/1/5;
    margin: 0px;
    background: url('../../assets/img/Balls/ball.svg');
    filter: drop-shadow(2px 4px 23px #ac81a8);
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60% 40%/ 100%;
}
.Balls__attention-icon{
    grid-area: 1/1/1/1;
    align-self: end;
    justify-self: center;
    width: 6vw;
}
.Balls__attention-text{
    text-align: center;
    color: $color-cyan;
    font-family: $font-Bold;
    grid-area: 2/1/3/1;
    font-size: 1vw;
}
.Balls__power{
    grid-area: 1/5/1/6;
    margin: 0px;
    background: url('../../assets/img/Balls/ball.svg');
    filter: drop-shadow(2px 4px 23px #ac81a8);
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60% 40%/ 100%;
}
.Balls__power-icon{
    grid-area: 1/1/1/1;
    align-self: end;
    justify-self: center;
    width: 6vw;
}
.Balls__power-text{
    text-align: center;
    color: $color-cyan;
    font-family: $font-Bold;
    grid-area: 2/1/3/1;
    font-size: 1vw;
}


.Balls__security-popup{
    color:$color-cyan; 
    font-size: 1.4vw;
}
.Balls__results-popup{
    color:$color-cyan; 
    font-size: 1.4vw;
}
.Balls__attention-popup{
    color:$color-cyan;
    font-size: 1.4vw;
}
.Balls__power-popup{
    color:$color-cyan;
    font-size: 1.4vw;
}

.NavbarHeader__lang-menu{
    display: flex;
    margin-top: 1vw;
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .Balls__security-text {
        font-size: 1.2vw;
    }
    .Balls__results-text {
        font-size: 1.2vw;
    }
    .Balls__attention-text {
        font-size: 1.2vw;
    }
    .Balls__power-text {
        font-size: 1.2vw; 
    }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .Balls {
        grid-template: 50vw 50vw 50vw 50vw /auto 50vw auto;
        margin-top: 3vw;
    }
    .Balls__security-icon {
        width: 15vw !important;
    }
    .Balls__security-text {
        font-size: 3.8vw!important;
    }
    .Balls__results {
        grid-area: 2/2/2/3;
    }
    .Balls__results-icon {
        width: 16vw !important;
    }
    .Balls__results-text {
        font-size: 3.8vw!important;
    }
    .Balls__attention {
        grid-area: 3/2/3/3;
    }
    .Balls__attention-icon {
        width: 16vw !important;
    }
    .Balls__attention-text {
        font-size: 3.8vw!important;
    }
    .Balls__power {
        grid-area: 5/2/4/3;
    }
    .Balls__power-icon {
        width: 16vw !important;
    }
    .Balls__power-text {
        font-size: 3.8vw!important;
    }
    .Balls-Service {
        margin-top: 7vw !important;
        grid-gap: 4vw 1vw !important;
        grid-template: 50vw 50vw 50vw 50vw /25vw 50vw 25vw!important;
        margin-bottom: 7vw !important;
    }
    .Balls-Service__dev {
        grid-area: 2/2/2/2 !important;
    }
    .Balls-Service__strategy {
        grid-area: 3/2/3/2 !important;
    }
    .Balls-Service__planning{
        grid-area: 4/2/4/2 !important;
    }
}